.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  grid-area: header;
  min-height: 100px;
  color: white;
  place-content:center;
  text-align: center;
}

.App-main{
  background-color: #ffffff;
  grid-area: header;
  color: rgb(0, 0, 0);
}

.App-footer{
  grid-area: footer;
}

.App-container{
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
   "header header"
   "sidebar main"
   "footer footer";
  gap: 60px;
  place-content:center;
  text-align: center;
}